<span>Hello world</span>
<div data-controller="days" data-day-sells="<%= sells_per_day %>">
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas> 
    <canvas id="daysells" style="width:100%;max-width:700px"></canvas> 

</div>

<p>
    <%= sells_per_day %>
</p>